# Normalize line endings to LF in the repository
* text=auto eol=lf

# Force binary files to never be line-ending-normalized
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.pdf binary
*.db binary
